.snackbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background-color: var(--success-text-color);
  color: var(--pure-white);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 0.3s;
  opacity: 0;

  &--show {
    bottom: 80px;
    opacity: 1;
  }

  &--error {
    background-color: var(--error-text-color);
  }
}
